body{
  background-image: linear-gradient(#fdf,#aff);
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main{
    background-color: darkgrey;
    width: 22vw;
    border-radius: 34px;
    padding: 7px 0px;
    line-height: 1.6;
    font-size: 17px;
    letter-spacing: 0.039em;
    font-weight: 300;
    
  }
  .formElements{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  span{
    font-weight: normal;
  font-size: smaller;
  }
  p{
     letter-spacing: -0.27px;
     font-weight: 400;
     color: deeppink;
  }
  button{
    background-color: #0bf;
    border-radius: 2px;
    border: none;
    padding: 3px 13px;
  }
  button:hover{
    background-color: #09d;
  }
  input{
    border-radius: 5px;
    border:none;
    width: auto;
   
  }
  
  .Login {
    background-image: linear-gradient(#adf,#fdf);
      display: inline-table;
      height: max-content;
      width: 30vw;
      margin-top: 131px;
      padding-top: 3px;
      padding-bottom: 7px;
      border-radius: 40px;
      }

      .Login > div:nth-child(3) {
        padding-top: 12px;
        }
    
      .Login > img:nth-child(1) {
        border-top-width: 0px;
        border-top-style: solid;
        width: 165px;
        height: 165px;
        border-radius: 80px;
        }
    
    .btn1 {
    border-width: 1px 2px ;
    border-style: solid;
    padding: 4px 42px ;
    margin: 0px 2px ;
    border-radius: 15px;
    }
    .btn2 {
      border-width: 1px 2px ;
    border-style: solid;
    padding: 4px 42px ;
    margin: 0px 2px ;
    border-radius: 15px; 
     
      }
      .btn1:hover {
        background-image: linear-gradient(#333,#0ff);
        color: white;
      }
      .btn2:hover {
        background-image: linear-gradient(#333,#0ff);
        color: white;
      }
      #user_mail{
        border-radius: 15px;
      }
      #password{
        border-radius: 15px;
      }
      .Login#link{
          margin-bottom: 15px;
      }

.forgot_password{
    padding-bottom: 12px;
    padding-left: 136px;
    display: inline-table;
}
 .forgot{
     
    line-height: 2;
    
 }